
body{
   background: radial-gradient(circle, #10997b,#305326);  
}



/*Esto es mobile first por lo que esta es la resolucion para celular*/
.content{
   display: grid;
   flex-direction: column;
   height: 120vh;  /*con esto modificamos la altura del todo el grid en mobile*/
}
.Header, .Aside, .Footer {                   
   padding: 20px;
}
.Header{
   background-color: rgb(184, 85, 3);
   flex-basis: 60px;    /*ver leccion 24 propiedad de los items*/
}
.Main{ 
   
   background: radial-gradient(circle, #f3f7face,#666564);
   flex-basis: 300px;   /*ver leccion 24 propiedad de los items*/
   flex-grow: 2;        /*ver leccion 24 propiedad de los items*/
   flex-shrink: 0;      /*ver leccion 24 propiedad de los items*/
}
.Aside{
   background-color: rgb(19, 14, 12);
   
   flex-basis: 200px;    /*ver leccion 24 propiedad de los items*/
   flex-grow: 2;         /*ver leccion 24 propiedad de los items*/
   flex-shrink: 0;       /*ver leccion 24 propiedad de los items*/
}
.Footer{
   background-color: #b85503;
   flex-grow: 1;               /*ver leccion 24 propiedad de los items*/
}







.contenedor-main{
   margin: 5px;
   padding: 30px;
}

/*Imagen de logo---------------------------------------------------------------*/
.form-img { /*Formulario de imagen*/
   flex:1;
   display: flex;
   padding: 10px;
   min-width: 100px; 
   max-width: 200px;
   order: 2;
} 
.form-img div{padding: 20px;}
.img-container div{
  background: white; /*EL color del fondo del logo*/
  border-radius: 50%;
  text-align: center;
  padding: 15px;
}
.img-container{  margin: auto;  }
.form-img img{ /*imagen especifica*/
   width: 80%;  
} 

















.nav__responsive-ul{display: none;} /*Para ocultar el menu responsive es OBLIGATORIO*/

/*---------------------------------------------------------------------------------------------------------------*/
/*Para PC*/

@media screen and (min-width: 1000px) {   /*PC/*

      /* imagen principal---------------------------------*/
      .flex-containerFoto{
         display: flex;
         height: 600px;
         
        /* background-color: #10997b;*/
         color: #fff;
          /* top  right bottom left */
         padding: 40px 250px 0px 250px;   
      }

      .imgFoto{
         text-align: center;
         height: 500px;
         width: 1800px;
         flex-grow: 1; 
      }


      /* Logo---------------------------------------------*/
      .form-img {  flex:1;display: flex;padding: 10px;min-width: 100px; max-width: 200px;order: 2;} 
      .img-container div{background: white; /*EL color del fondo del logo*/border-radius: 50%;text-align: center;padding: 15px;}
      .img-container{  margin: auto;  }
      .form-img img{ /*imagen especifica*/ width: 80%;  }            
      /*fin Logo---------------------------------------*/

      /*Imagenes  --------------- */

      .flex-container{
         display: flex;
         height: 210px;
         margin: 5px;      
      }
      .flex-item{ 
         background:  #fafafa10;
         padding: 10px;
         margin: 5px;
         min-width: 150px;
         width: 300px;
         height: 200px;	
      }
      
      /*Parte texto-----------------------------------------------*/
      .texto{
         font-size: 50px;
         color: #fff;
         background-color: #b85503;
         flex-grow: 1;
         font-family:Verdana, Geneva, Tahoma, sans-serif cursive;

         /* top  right bottom left */
         margin: 50px 0px 50px 0px;
         padding: 5px 250px 0px 250px;
         
      }  
      /*Mapa-----------------------------------------------------*/
      .mapouter{text-align: center;}
      
      #gmap_canvas{
            
            width: 980px;
            height:500px;
            flex-grow: 1;
      }
      /*Mapa Fin--------------------------------------------------------*/

   }  

   


   

   @media screen and ( max-width: 1000px) AND ( min-width: 500px)  {  /*Tablet*/ 
      
         /* imagen principal---------------------------------*/
      .flex-containerFoto{
         display: flex;
         height: 600px;
         
        /* background-color: #699910;*/
         color: #fff;
          /* top  right bottom left */
         padding: 30px 50px 10px 50px;   
      }

      .imgFoto{
         text-align: center;
         height: 500px;
         width: 1000px;
         flex-grow: 1; 
      }

         

      /*--------------------------------------------------*/

      .texto{
         color: #fff;
         background-color: #b85503;
         flex-grow: 1;
         font-family:Verdana, Geneva, Tahoma, sans-serif cursive;
         /* top  right bottom left */
         margin: 50px 0px 50px 0px;
         padding: 5px 30px 0px 30px;  
      }

      .mapouter{text-align: center;}
          
      #gmap_canvas{
            
            width: 600px;
            height:300px;
            flex-grow: 1;
      }
      
    
   }     
   
   @media screen and ( max-width: 500px) AND ( min-width: 280px)  {    /*Movile*/
     
      
      /* imagen principal---------------------------------*/
      .flex-containerFoto{
         display: flex;
         height: 350px;
         
        /* background-color: #6e1099;*/
         color: #fff;
          /* top  right bottom left */
         padding: 30px 20px 10px 20px;   
      }

      .imgFoto{
         text-align: center;
         height: 300px;
         width: 1000px;
         flex-grow: 1; 
      }
      .texto{
         color: #fff;
         background-color: #b85503;
         flex-grow: 1;
         font-family:Verdana, Geneva, Tahoma, sans-serif cursive;
         /* top  right bottom left */
         margin: 50px 0px 50px 0px;
         padding: 5px 10px 20px 10px;
         
      }
          
          
      .mapouter{text-align: center;}
          
      #gmap_canvas{
            
            width: 350px;
            height:300px;
            flex-grow: 1;
      }
    
   }  














